@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Abril Fatface', cursive;
}
body
{
   background: #f9f9f9;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100hv;
}
.container
{
   position: relative;
   width: 100%;
   max-width: 1000px;
   margin: 50px;
   padding: auto;
}
.top
{
   position: relative;
   width: 100%;
   min-width: 280px;
   border-radius: 50%;
   overflow: hidden;
   aspect-ratio: 1;
}
.faceImg img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.profileText
{
   position: absolute;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.profileText h3 
{
   font-size: 4em;
   letter-spacing: 0.1em;
   line-height: 1.2em;
   font-weight: 600;
   color: #333;
   padding-left: 300px;
   padding-top: 15px;
}

.profileText h3 span 
{
   position: relative;
   font-size: 0.5em;
   font-weight: 300;
   top: -10px;
}

.contentBox
{
   position: relative;
   display: flex;
   min-height: 600px;
   padding: 300px 50px 40px 80px;
   font-size: 2em;
}

.leftSide
{
   width:900px;
   display:flex;
   flex-direction: column;
   align-items: flex-end;
   padding-right: 10px;
}

.contentBox h3 span
{
   border-left: 4px solid #ff8bb3;
   padding-left: 10px;
   padding-top: 50px;
   line-height: 1em;
   font-weight: 600;
   color: #333;
}


.skills li
{
   display:flex;
   flex-direction: column;
   list-style: none;

}

.skills li span
{
   color: #333;
   font-size: 18px;
   font-weight: 500;
   list-style: none;
}

.percent 
{
   position: relative;
   width: 100%;
   background-color: #e3e3e3;
   height: 6px;
   margin-top: 15px;
   margin-bottom: 10px;
   display: block;
   overflow: hidden;
}

.percent div
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #333;
}

.year_company h5
{
   color: #333;
   font-size: 18px;
   font-weight: 500;
   list-style: none;
}

.year_company p
{
   font-size: 23px;
   font-weight: 600;
   list-style: none;
}

h4
{
   font-size: 19px;
   font-weight: 600;
   list-style: none;
}

.role p
{
   font-size: 18px;
   font-weight: 600;
   list-style: none;
   color: #333;
}

.education
{
   padding-top: 30px;
}

.degree
{
   font-size: 23px;
   font-weight: 600;
   list-style: none;
}

.university 
{
   font-size: 18px;
   font-weight: 600;
   list-style: none;
   color: #333;
}

.line
{
   background-color: #333;
   min-width:3px;
}